/*Main CSS for Lords of Dogtown.index 
Author - Zachary Maguire*/


/*=====================================================================================================
Global
=====================================================================================================*/

/*Color Scheme

hover brown #b89b7e*/


html,
body {
   	height: 100%;
      font-family: 'Source Sans Pro', sans-serif;    
}


body {
      color: #000000;
      text-align: center;
      /*text-shadow: 0 1px 3px rgba(0,0,0,0.5);*/
}

.wrapper {
   
}



  /*=====================================================================================================
Mobile Navigation and Desktop Dogtown Logo
=====================================================================================================*/
#arrow-toggle:hover {
      color: #b89b7e;
      cursor: pointer;
}



.item-logo {
      margin-bottom: 20px;
      border-bottom: 2px solid #b89b7e;
      padding-bottom: 5px;
      padding-top: 10px;
      font-size: .8em;
      letter-spacing: 3px;
      color: white;
}

.logo-header {
      background: black;
}









  /*=====================================================================================================
Content Boxes
=====================================================================================================*/

.wrapper {
       background-color: #f7f3ea;
       padding: 30px 0;
}


/*.firstbox,*/
.secondbox img,
/*.thirdbox,*/
.forthbox img,
/*.fifthbox,*/
.sixthbox img {

      -webkit-box-shadow: 10px 10px 5px #888;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 10px 10px 5px #888;  /* Firefox 3.5 - 3.6 */
      box-shadow: 10px 10px 5px #888;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      border-radius: 10px;
      
}





.container img {
      max-width: 100%;
}



.secondbox:hover {
      color: black;
      cursor: pointer;
      
}



.thirdbox h2 {
      font-weight: 700;
      font-size: 3.5em;
      padding-top: 90px;
      margin: 0;

}

.thirdbox i {
      padding-bottom: 60px;

}



.story-logo:hover {
      color: #b89b7e;
      cursor: pointer;
}

.forthbox:hover{
      cursor: pointer;
}

.fifthbox {
      margin-bottom: 45px;
}


.fifthbox h2 {
      font-weight: 700;
      font-size: 3.5em;
      margin: 0;
      padding-bottom: 60px;
}

.fifthbox a h2 {
      color: black;
      text-decoration: none;
}

.fifthbox img {
      padding-top: 25%;

}

.fifthbox a h2:hover,
.fifthbox img:hover {
      cursor: pointer;
      color: #b89b7e;
}




  /*=====================================================================================================
      Cast and Story content
=====================================================================================================*/


.story-content,
.cast-content {
      margin-bottom: 20px;

}

.story-content,
.cast-content {
      padding: 30px 0;
}


.cast-content p,
.story-content p {
      font-size: 1.5em;
}

.bord-top {
      border-top: thick solid #b89b7e;
      padding-top: 15px;
}

.cast-content h3,
.story-content h3{
      font-size: 2em;
      font-weight: 700;
      padding-bottom: 20px;
      margin-bottom: 25px;
}







  /*=====================================================================================================
Footer
=====================================================================================================*/

.foot-page {
      background: black;

}

.foot-page p {
      margin-top: 35px;
      border-top: 2px solid #b89b7e;
      padding-top: 5px;
      padding-bottom: 30px;
      font-size: 1.2em;
      letter-spacing: 3px;
      color: white;
}

  /*=====================================================================================================
Media Queries
=====================================================================================================*/


 
@media only screen and (min-width: 768px){ 



      .thirdbox h2 {
            padding-top: 44%;
            font-size: 40px;
      }


      .fifthbox h2 {
            font-size: 40px;
      }

      .nav-collapse {
            display: none;
      }

      #arrow-toggle {
            display: none;
      }





 } /*closing MQ 768px*/




