/*Main CSS for Lords of Dogtown.index 
Author - Zachary Maguire*/


/*=====================================================================================================
Global
=====================================================================================================*/

html,
body {
   	height: 100%;
      font-family: 'Source Sans Pro', sans-serif;    
}


body {
      color: #000000;
      text-align: center;
      /*text-shadow: 0 1px 3px rgba(0,0,0,0.5);*/
}

.wrapper {
   
}



  /*=====================================================================================================
Main Navigation
=====================================================================================================*/



.slicknav_menu {
      display:block;
}

 #menu {
            display:none;
      }

.main-nav {
      
}

.item-nav {
      padding: 10px 0;
}

.item-logo {
      padding: 0;
}
 
.main-nav a {
      
}

.dogtown-logo {
      max-height: 100px;
}





  /*=====================================================================================================
Content Boxes
=====================================================================================================*/




/*.firstbox,*/
.secondbox img,
/*.thirdbox,*/
.forthbox img,
/*.fifthbox,*/
.sixthbox img {

      -webkit-box-shadow: 10px 10px 5px #888;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 10px 10px 5px #888;  /* Firefox 3.5 - 3.6 */
      box-shadow: 10px 10px 5px #888;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      
}



.wrapper {
      padding-bottom: 30px;
}

.wrapper-inner img {
      max-width: 100%;
}

.secondbox {
      
      
}

.secondbox img:hover {
      opacity: 0.5;
}

.secondbox i {
      position: absolute;
      top: 40%;
      left: 45%;
      /*color: white;*/
}

.secondbox i:hover {
      color: black;
}



.thirdbox h2 {
      font-weight: 700;
      font-size: 3.5em;
      padding-top: 90px;

}

.thirdbox i {
      padding-bottom: 50px;
}

.thirdbox:hover {
      opacity: 0.5;
}

.forthbox h2 {
      font-weight: 700;
      font-size: 3.5em;
      position: absolute;
      text-align: center;
      color: white;
}

.forthbox i {
      position: absolute;
      top: 45%;
      left: 45%;
}

.fifthbox h2 {
      font-weight: 700;
      font-size: 3.5em;
      padding-top: 0px;
      margin-top: 0px;
}

.fifthbox img {
      padding-top: 25%;
}


  /*=====================================================================================================
Footer
=====================================================================================================*/

footer {
      padding: 60px 0;
      background: black;
      margin-top: 10px;

}

footer p {
      color: white;
}

  /*=====================================================================================================
Media Queries
=====================================================================================================*/


 
@media only screen and (min-width: 768px){ 

      .main-nav { 
            padding: 50px 0 20px 0;  
      }



      /* slick nav. #menu is the original menu */
      #menu {
            display:none;
      }
      
      .slicknav_menu {
            display:none;
      }

      .thirdbox h2 {
            padding-top: 30%;
      }



 } /*closing MQ 768px*/




